.portal{
    background-color: #181818;
}
.personalTwo{
    height: 50px;
    width: 50px;
}
.personalOne{
    height: 50px;
}
.calavera{
    width: 70px;
}
.pregunta{
    position: fixed;
    bottom: 20%;
    right: 8%;
    font-size: 1.3rem;
    background-color: #8a2be2;
    padding: 10px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
}
@media screen and (max-width: 780px){
    .portalDos{
        width: 300px;
        height: 300px;
    }
    #portalTres{
        right: 10px;
    }
    #parrafoChat{
        font-size: 0.7rem;
        line-height: 0.8rem;
    }
    .personalOne{
        width: 70px;
        height: 30px;
        font-size: 1rem;
    }
    .personalTwo{
        width: 30px;
        height: 30px;
    }
    .calavera{
        width: 30px;
    }
    .pregunta{
        padding: 5px;
        font-size: 1rem;
        bottom: 17%;
        right: 14%;
    }
}