h2 {
    color: white;
    font-size: 2rem;
    text-shadow: 5px 5px black;
    text-align: center;
    margin-top: 150px;
}
.gifs {
    width: 500px;
}
.proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
.titulo {
    color: white;
    font-size: 1.5rem;
    text-shadow: 5px 5px black;
}
.divProyectoflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px){
    .gifs {
        width: 300px;
    }
}
